{{#models}}
package {{modelPackage}};

import io.helidon.json.binding.Json;
{{#imports}}
import {{import}};
{{/imports}}
{{#model}}

/**
 * {{description}}{{^description}}{{classname}} model.{{/description}}
 */
@Json.Entity
public class {{classname}} {

{{#vars}}
    {{#vendorExtensions.x-json-required}}@Json.Required
    {{/vendorExtensions.x-json-required}}private {{{datatypeWithEnum}}} {{name}};

{{/vars}}
    /** No-arg constructor. */
    public {{classname}}() {
    }

{{#vars}}
    public {{{datatypeWithEnum}}} {{getter}}() {
        return {{name}};
    }

    public void {{setter}}({{{datatypeWithEnum}}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/vars}}
}
{{/model}}
{{/models}}
