{{#models}}
package {{modelPackage}};

import io.helidon.json.binding.Json;
{{#imports}}
import {{import}};
{{/imports}}
{{#model}}

/**
 * {{description}}{{^description}}{{classname}} model.{{/description}}
 */
@Json.Entity
{{#isDeprecated}}@Deprecated
{{/isDeprecated}}{{#vendorExtensions.x-has-validations}}@Validation.Validated
{{/vendorExtensions.x-has-validations}}public class {{classname}} {

{{#vars}}
    {{#description}}/** {{description}} */
    {{/description}}{{#vendorExtensions.x-validation-annotations}}{{{annotation}}}
    {{/vendorExtensions.x-validation-annotations}}{{#vendorExtensions.x-json-required}}@Json.Required
    {{/vendorExtensions.x-json-required}}private {{{datatypeWithEnum}}} {{name}}{{#vendorExtensions.x-default-value}} = {{{vendorExtensions.x-default-value}}}{{/vendorExtensions.x-default-value}};

{{/vars}}
    /** No-arg constructor. */
    public {{classname}}() {
    }

{{#vars}}
    public {{{datatypeWithEnum}}} {{getter}}() {
        return {{name}};
    }

    public void {{setter}}({{{datatypeWithEnum}}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/vars}}
{{#vars}}{{#isEnum}}
    public enum {{datatypeWithEnum}} {
        {{#allowableValues}}{{#enumVars}}{{name}}{{^-last}},
        {{/-last}}{{/enumVars}};{{/allowableValues}}
    }

{{/isEnum}}{{/vars}}
}
{{/model}}
{{/models}}
